<!DOCTYPE html>
<html>
  <head>
    <title>消息显示页面</title>
    <!-- style -->
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css"/>
    <!-- script -->
    <script src="/lib/jquery/jquery-3.1.1.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <!-- 左侧菜单栏 -->
            <div class="col-sm-2" style="border-right:1px solid #ccc" id="left">
                <%- include ./public/left.ejs%>
            </div>
            <!-- 右侧详情栏 -->
            <div class="col-sm-10">
                <ol class="breadcrumb">
                    <li>消息管理</li>
                    <li>消息显示</li>
                    <li class="active">消息显示</li>
                </ol>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        消息显示
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info"><%= msg.text %></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
  </body>
</html>
