<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" 
                href="#collapseCartoon">
                漫画管理
                </a>
            </h4>
        </div>
        <div id="collapseCartoon" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/api/cartoon/allCartoon/1">所有漫画</a>
                    </li>
                    <li class="list-group-item"> 
                        <a href="/api/cartoon/addCartoon">添加漫画</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" 
                href="#collapseCategory">
                类别管理
            </a>
            </h4>
        </div>
        <div id="collapseCategory" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/api/category/allCategory">查看分类</a></li>
                    <li class="list-group-item"><a href="/api/category/addCategory">添加分类</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" 
                href="#collapseTag">
                标签管理
            </a>
            </h4>
        </div>
        <div id="collapseTag" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/api/tag/allTag">查看标签</a></li>
                    <li class="list-group-item"><a href="/api/tag/addTag">添加标签</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" 
                href="#collapseBanner">
                轮播管理
            </a>
            </h4>
        </div>
        <div id="collapseBanner" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/api/banner/allBanner">查看轮播图片</a></li>
                    <li class="list-group-item"><a href="/api/banner/addBanner">添加轮播图片</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" 
                href="#collapseRecommend">
                主编推荐
                </a>
            </h4>
        </div>
        <div id="collapseRecommend" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/api/recommend/allRecommend">已推荐</a></li>
                    <li class="list-group-item"><a href="/api/recommend/addRecommend">未推荐</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>