<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- style -->
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css"/>
    <!-- script -->
    <script src="/lib/jquery/jquery-3.1.1.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <title>注册</title>
</head>
<body>
    <div class="container">
        <form role="form" action="/manager/register" method="post">
            <div class="form-group">
              <label for="username">用户名</label>
              <input type="text" class="form-control" id="username" name="manager_name" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label for="name">密 码</label>
                <input type="text" class="form-control" id="password" name="manager_password" placeholder="请输入密码">
            </div>
            <button type="submit" class="btn btn-default">提交</button>
          </form>
    </div>
</body>
</html>